600 0.083333 3000 20 12.0 60 2000 50 1
1:2:3:4:5
1020:2233:2329:2329
../project/1/model/hmm.mdl 
../project/1/model/HCLG.fst 
../project/1/model/words.txt
../project/1/model/final.feature_transform 
../project/1/model/final.nnet 
../project/1/model/ali_train_pdf.counts
../project/1/model/phone_list.txt
../project/1/model/word_list.txt
../project/1/model/cn_man_syllable_tts2asr.txt
../project/1/model/dict_utf8_swap.txt
