600 0.083333 3000 20 12.0 36 2000 50 1
1:2:3:4:5
1020:2233:2329:2329
../project/1/mask_model/hmm.mdl 
../project/1/mask_model/HCLG.fst 
../project/1/mask_model/words.txt
../project/1/mask_model/final.feature_transform 
../project/1/mask_model/final.nnet 
../project/1/mask_model/ali_train_pdf.counts
../project/1/mask_model/phone_list.txt
../project/1/mask_model/word_list.txt
../project/1/mask_model/cn_man_syllable_tts2asr.txt
../project/1/mask_model/dict_utf8_swap.txt
